@import "./reset.css";
@import "./fonts.css";

body {
    color: #fff;
    background-color: #0F3047;
}

h1 {
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 23px;
    margin-bottom: 14px;
}

h2 {
    font-family: 'Gilroy Semi-Bold', sans-serif;
    font-size: 25px;
    margin-bottom: 9px;
}

p {
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 18px;
    opacity: 0.85;
}

.paragraph-small {
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 16px;
    opacity: 0.85;
}

.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

/* header */

.header {
    padding-top: 80px; /* Отступ от верха страницы */
}

/* main */

.main, .secondmodule_pics, .fourthmodule_one_plants {
    margin-top: 40px;
}

/* firstmodule */

.firstmodule, .secondmodule {
    display: flex;
    height: 400px;
}

.firstmodule_one, .firstmodule_two, .secondmodule_one, .secondmodule_two, .secondmodule_three, .thirdmodule, .fourthmodule_one, .fourthmodule_two, .fifthmodule {
    border: 1px solid white;
    padding: 34px 30px 34px 30px;
}

.firstmodule_one {
    width: 460px;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
}

.firstmodule_one_forma p {
    margin-bottom: 16px;
}

.firstmodule_two, .secondmodule_one {
    width: 900px;
}

.firstmodule_one_text {
    margin-bottom: 32px;
}

.name-input input[type="text"] {
    width: 80%; /* Пример: элемент будет занимать 80% ширины родительского блока */
    height: 50px;
    border: none;
    border-radius: 25px; /* Установим радиус скругления углов */
    background-color: #ffffff;
    padding: 0 32px;
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 18px;
    color: #2B3F4C;
    margin-bottom: 10px;
}

/* КНОПКА ПОДТВЕРДИТЬ */
.btn-container {
    margin-top: 30px;
    text-align: center;
}

.confirm-button {
    background-color: #F7CC97;
    color: #2B3F4C;
    border-radius: 50px;
    padding: 14px 32px;
    border: none;
    font-size: 18px;
    font-family: 'Gilroy Semi-Bold', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #DFB888;
}

.firstmodule_two {
    position: relative;
    display: flex;
    width: 900px;
    height: 400px;
}

.firstmodule_two_play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.firstmodule_two_text {
    z-index: 10;
    position: relative;
}

.egg_pic {
    position: absolute;
}


/* secondmodule */

/* ВРАТУШКИ Первый блок первая (левая) часть */

.rectangle {
    width: 172px;
    height: 116px;
    border-radius: 20px;
    background-color: #375164;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.rectangle-circle-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.circle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vr-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E5543C;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-star {
    width: 24px;
    height: 24px;
}

.secondmodule_two, .secondmodule_three {
    width: 230px;
}

.secondmodule_two_text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* КУРОЧКИ МОИ */

.secondmodule_pics {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.secondmodule_pics > div {
    width: calc(33.33% - 1.5%); /* Процентный отступ вместо пикселей */
    position: relative;
}

.secondmodule_pics img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
}

.secondmodule_pics img.active {
    border: 1px solid white; /* Белая обводка */
    border-radius: 20px; /* Скругление углов */
}

.secondmodule_pics img:not(.active) {
    opacity: 0.8; /* 80% непрозрачности */
}

/* ПЕРЕКЛЮЧАТЕЛИ Второй блок вторая (по середине) часть */

.toggle2 {
    display: flex;
    flex-direction: column;
}

.toggle-fire, .toggle-rocket {
    width: 172px;
    height: 50px;
    margin-bottom: 16px;
    background-color: #F7CC97;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    position: relative;
}

.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 7px; /* Центрирование по вертикали */
    left: 16px; /* Отступ от левого края */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%; /* Превращаем в круг */
}

.toggle-fire > .circle {
    background-color: #EE7B3C;
}

.toggle-rocket > .circle {
    background-color: #E5543C;
}

.svg-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* АНИМАЦИЯ ПЕРЕКЛЮЧАТЕЛИ */

.circle {
    transition: right 0.3s ease, background-color 0.3s ease; /* Анимация перемещения и цвета фона */
}
.toggle-fire, .toggle-rocket {
    transition: background-color 0.3s ease; /* Анимация цвета фона */
}

/* -- КРУГЛАЯ КНОПКА ЗАПУСК Второй блок третья (правая) часть --> */

.secondmodule_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botton_circle {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #EF8B4E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 30% solid #fff;
}

.inner_circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #E5543C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botton_circle.clicked {
    background-color: #B74330;
}

/* thirdmodule */

.thirdmodule {
    width: 1360px;
    height: 418px;
    position: relative;
    overflow: hidden;
}

.rocket {
    width: 316px;
    height: 134px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.rocket,
.planet {
    position: absolute;
}

#jupiter {
    width: 516px;
    height: 516px;
    left: 585px;
    top: 290px;
}

#mars {
    width: 305px;
    height: 305px;
    left: 996px;
    top: calc(0% - 70px);
}

#uranus {
    width: 60px;
    height: 60px;
    left: 900px;
    top: 192px;
}

#venus {
    width: 160px;
    height: 160px;
    left: 660px;
    top: 34px;
}

.hidden {
    display: none;
}

/* fourthmodule */

.fourthmodule {
    display: flex;
}

.fourthmodule_one, .fourthmodule_two {
    width: 680px;
    height: 725px;
}

.fourthmodule_one_text, .fourthmodule_two_text {
    display: flex;
    flex-direction: column;
    text-align: center; /* Выравнивание текста по центру */
}

.fourthmodule_one_plants {
    width: 620px;
    height: 116px;
    background-color: #375164;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    gap: 23px; /* Интервал между кружками */
}

.plant {
    width: 62px;
    height: 62px;
    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.plant img.svg-flo {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fourthmodule_one {
    width: 680px;
    background-image: url('../img/fields.png');
    background-size: cover;
    background-position: center;
}

/* КНОПКА НАЧАТЬ СНАЧАЛА */

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.restart-button {
    background-color: white;
    color: #2B3F4C;
    border-radius: 50px;
    padding: 14px 32px;
    border: none;
    font-size: 18px;
    font-family: 'Gilroy Semi-Bold', sans-serif;
    cursor: pointer; /* Курсор в виде руки, указывающий на интерактивный элемент */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.restart-button:hover {
    background-color: #E5E5E5;
}

.fourthmodule_two_eggs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.three_egg img {
    width: 100%;
    height: auto;
}

/* fifthmodule */

.fifthmodule {
    background-color: #061D2D;
    min-height: 111px; /* Использую min-height вместо height для гибкости */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifthmodule_one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.fifthmodule_one img {
    max-height: 50px; /* Или другое значение, которое лучше подходит */
    width: auto; /* Сохраняем пропорции изображения */
}

.fifthmodule_two {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fifthmodule_two h1, .fifthmodule_two p {
    margin: 0;
}

.fifthmodule_two h1 + p {
    margin-top: 3px;
}